:root {
  --black: #000;
  --white: #fff;
  --red: #e84d4d;
  --light-green: #85cba4;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: var(--black);
  height: 100%;
  margin: 0;
}

.container {
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
  padding-inline: 20px;
}

.loading,
.error {
  text-align: center;
  margin-block: 20px;
}

.loading {
  color: var(--light-green);
}

.error {
  color: var(--red);
}

.media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.media--1-1 img {
  aspect-ratio: 1/1;
}

.button {
	font-family: Avenir, sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 1;
	text-align: center;
	color: var(--white);
	background: var(--light-green);
	border: none;
	padding-inline: 16px;
	min-height: 40px;
	border-radius: 8px;
	transition: opacity 0.2s;
	cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}
