.section-trip-cards {
  padding-block: 52px;
}

.section-trip-cards .section__title {
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 32px;
}

.section-trip-cards .section__search {
  position: relative;
  max-width: 400px;
  margin: 26px auto;
}

.section-trip-cards .section__search input {
  font-size: 18px;
  width: 100%;
  height: 40px;
  border: 1px solid var(--black);
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 36px;
}

.section-trip-cards .section__search svg {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.section-trip-cards .section__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  row-gap: 24px;
  padding: 0;
  margin: 0 -12px;
}

.section-trip-cards .section__list li {
  width: 25%;
  padding: 0 12px;
}

@media (max-width: 767px) {
  .section-trip-cards .section__list li {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .section-trip-cards .section__list li {
    width: 100%;
  }
}
